<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <a href="/cats">See Alla cats</a> </h1>
    <h1>Cat of the Day</h1>
    <label for=""> Cat ID: <%= cat.cat_id%></label>
    <p> Cat Name: <%= cat.name%></p>
    <img src="images/<%= cat.cat_image%>" alt="" width="200" height="200">
</body>
</html>